:root{
    --navbg: #1B998B;
    --linkcol: #68B0DC;
}

body{
    background-color: #211A1D;
    font-family: 'Open Sans', 'sans-serif';
    margin:0px;
}

  /*Navigation Bar*/
  header{
    background-color: var(--navbg);
    text-align:center;
    position: fixed;
    z-index: 9999;
    width:100%;
  }
  /* Logo */
  header h1{
      margin: 0;
      width: 50px;
  }
  /* Nav Elements */
  nav {
      position: absolute;
      text-align: left;
      top: 100%;
      left: 0;
      background: var(--navbg);
      width: 100%;
      transform:scale(1, 0);
      transform-origin: top;
      transition: transform 100ms ease-in-out;
  }

  nav ul {
      margin: 1em;
      padding: 0;
      list-style: none;
  }

  nav li{
      margin-bottom: 1em;
      margin-left: 1em;
  }

  nav a{
      color: #211A1D;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
  }

  .nav-toggle{
      display:none;
  }

  .nav-toggle-label{
      position:absolute;
      top: 0;
      left: 0;
      margin-left: 1.5em;
      height: 100%;
      display: flex;
      align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
      display:block;
      background:white;
      height: 3px;
      width:2em;
      border-radius: 2px;
      position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after{
      content:'';
      position:absolute;
  }

  .nav-toggle-label span::before {
      bottom: 9px;
  }

  .nav-toggle-label span::after{
      top: 9px;
  }

  nav a:hover{
      color: white;
  }

  .nav-toggle:checked ~ nav{
        transform: scale(1,1);
  }

  .nav-toggle:checked ~ nav a{
      opacity: 1;
      transition: opacity 200ms ease-in-out 150ms;
  }

  @media screen and (min-width: 720px)
  {
      .nav-toggle-label {
          display: none;
      }

      header{
          display: grid;
          grid-template-columns: 1fr auto minmax(720px, 3fr) 1fr;
      }

      header h1{
          grid-column: 1 / span 2;
          margin-left: 2em;
          margin-top: 3px;
          margin-bottom: 3px;
      }

      nav{
          grid-column: 3/4;
          all: unset;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-left: 0;
      }

      nav ul{
          display: flex;
          justify-content: flex-end;
      }

      nav li{
          margin-left: 3em;
          margin-bottom:0;
      }

      nav a{
          opacity: 1;
      }
  }

/*Main Content */
.content{
    color: white;
    text-align: center;
    padding-top: 50.0px;
    font-size: 16.0px;
    font-family: 'Open Sans', 'sans-serif';
}

.content h2{
    font-size: 50.0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Open Sans', 'sans-serif';
    color: white;
}

.content h3{
    padding-top: 0px;
    font-size: 22.0px;
}

.content h4{
    font-size: 18.0px;
}

.content h5{
    font-size: 20.0px;
    text-align:center;
    padding-right:25%;
    padding-top:5.0px;
    padding-bottom:4.0px;
}

.content p{
    margin-left:27.5%;
    margin-right:27.5%;
    text-align:left;
}

.content p a{
    font-size: 12.0px;
    vertical-align: super;
    color: var(--linkcol);
}

.content ul{
    text-align: left;
    margin-left:25%;
    margin-right:25%;
    list-style-type:none;
    line-height: 175%;
}

.content li{
    text-align: left;
    text-indent: 5.0px;
}

.content li:before{
    content: "-";
    padding-right: 16.0px;
    text-indent: -5.0px;
}

.content ul li ul{
    list-style-type:circle;
    text-align: left;
    padding-left: 8%;
    margin: 0;
}

.content ul li ul li:before{
    content: "";
    padding-right: 0.0px;
    text-indent: 0.0px;
}

.content ul li a{
    text-align: center;
    font-size: 16.0px;
    color: white;
}

.content img{
    margin-bottom:5%;
    width:auto;
}
/*Minutes Stuff*/
.minutes{
    color: white;
    text-align: center;
    padding-top: 50.0px;
    font-size: 16.0px;
    font-family: 'Open Sans', 'sans-serif';
}

.minutes p{
    margin-left:30%;
    margin-right:30%;
    text-align:left;
}

.minutes a{
    color: var(--linkcol);
}

.minutes ul{
    text-align: left;
    margin-left:25%;
    margin-right:25%;
    list-style-type:none;
    line-height: 175%;
}

.minutes li{
    text-align:left;
}

/*Slider Stuff */
.swiper-container {
  width: 75%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 75%;
  background-color: #222222;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 2.5%;
}

.picture {
  width: 100%;
  overflow: hidden;
}

.picture img {
  display: block;
  width: 100%;
     object-fit: cover;
}

.detail {
  padding: 25px 10px;
  font-weight: 600;
  text-align: center;
}

.detail h3 {
  margin: 0;
  font-size: 12px;
  color: #fff
}

.detail span {
  display: block;
  font-size: 12px;
  color: #fff;
}

.swiper-pagination-bullet-active {
     background-color: #1B998B !important;
}
